asgiref==3.8.1
certifi==2025.6.15
charset-normalizer==3.4.2
dj-database-url==3.0.0
Django==5.2.3
django-appconf==1.1.0
django-compressor==4.5.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
docopt==0.6.2
gunicorn==23.0.0
idna==3.10
load-dotenv==0.1.0
pipreqs==0.4.13
psycopg2-binary==2.9.10
python-dotenv==1.1.0
rcssmin==1.1.2
requests==2.32.4
rjsmin==1.2.2
sqlparse==0.5.3
typing_extensions==4.14.0
urllib3==2.5.0
whitenoise==6.9.0
yarg==0.1.10
